td,th{vertical-align:top;text-align:right;font-size:large}
#converted{color:red;font-weight:700;font-size:large}
input{text-align:right;border:none;font-size:large}
body{background-color:#b0c4de;font-size:large}